:root {
  /* Color */
  --grey-light-color: aliceblue;

  /* Size */
  --spacing: 3%;
}

.main-poster {
  width: 97%;
  height: 95%;
  padding-left: var(--spacing);
}

.main-poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  opacity: 0.6;
}

.poster-info {
  color: white;
  /* border: 1px solid rgb(219, 211, 194); */
  position: absolute;
  top: 15%;
  width: 40%;
  height: 77%;
  padding: 0 2%;
}

.poster-info .description-section h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
