:root {
  /* Color */
  --grey-light-color: aliceblue;

  /* Size */
  --spacing: 3%;
}

main {
  width: 97%;
  height: 100%;
  padding-left: var(--spacing);
  color: white;
}

.contents {
  width: 100%;
  height: fit-content;
  /* background: rgb(208, 219, 221); */
  background: transparent;
}

.slider {
  width: 100%;
  height: 100%;
  padding: 0;

  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;

  overflow-x: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.item {
  width: 200px;
  height: 200px;

  margin-right: 0.25%;
}

.item img {
  width: inherit;
  height: inherit;
  object-fit: fill;
  object-position: center;
}
