.handler{
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: column;
}
.range_container{
    width: 100%;
    height: 36px;
    display: flex;
}
.filter-range{
    width: 80%;
    
    display: block;
    background: transparent;
    outline: none;
    margin: 0 auto;
    
    font-size: 12px;

    -webkit-appearance: none;
    appearance: none;
}
.filter-range:focus{
    outline: none;
}
.filter-range::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    
    border-radius: 0.5em;
    height: 0.5em;
    /* background: #0D1618; */
    box-shadow: 1px 1px 1px 1px black inset;
}
.filter-range::-webkit-slider-thumb{
    height: 1em;
    width: 0.5em;
    margin-top: -0.2em;
    
    -webkit-appearance: none;
    appearance: none;
    background: #F7F3FA;
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    
}
.filter-range::-webkit-slider-thumb:hover{
    height: 1.2em;
    width: 0.6em;
    margin-top: -0.4em;
    
}
.filter-range::-webkit-slider-thumb:active{
    cursor: -webkit-grabbing;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.checkbox_container{
    width: 100%;
}
