/* init */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web';
}
html{
    box-sizing: border-box;
}
*:before,
*:after{
    box-sizing: inherit;
}

